-webkit-align-content: stretch;
-webkit-align-items: stretch;
-webkit-align-self: stretch;
-webkit-animation-delay: 0s;
-webkit-animation-direction: normal;
-webkit-animation-duration: 0s;
-webkit-animation-fill-mode: none;
-webkit-animation-iteration-count: 1;
-webkit-animation-name: none;
-webkit-animation-play-state: running;
-webkit-animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
-webkit-appearance: none;
-webkit-backface-visibility: visible;
-webkit-background-clip: border-box;
-webkit-background-composite: source-over;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-border-fit: border;
-webkit-border-horizontal-spacing: 0px;
-webkit-border-image: none;
-webkit-border-vertical-spacing: 0px;
-webkit-box-align: stretch;
-webkit-box-decoration-break: slice;
-webkit-box-direction: normal;
-webkit-box-flex: 0;
-webkit-box-flex-group: 1;
-webkit-box-lines: single;
-webkit-box-ordinal-group: 1;
-webkit-box-orient: horizontal;
-webkit-box-pack: start;
-webkit-box-reflect: none;
-webkit-box-shadow: none;
-webkit-clip-path: none;
-webkit-color-correction: default;
-webkit-column-axis: auto;
-webkit-column-break-after: auto;
-webkit-column-break-before: auto;
-webkit-column-break-inside: auto;
-webkit-column-count: auto;
-webkit-column-gap: normal;
-webkit-column-progression: normal;
-webkit-column-rule-color: rgb(51, 51, 51);
-webkit-column-rule-style: none;
-webkit-column-rule-width: 0px;
-webkit-column-span: 1;
-webkit-column-width: auto;
-webkit-filter: none;
-webkit-flex-basis: auto;
-webkit-flex-direction: row;
-webkit-flex-grow: 0;
-webkit-flex-shrink: 1;
-webkit-flex-wrap: none;
-webkit-flow-from: none;
-webkit-flow-into: none;
-webkit-font-kerning: auto;
-webkit-font-smoothing: auto;
-webkit-font-variant-ligatures: normal;
-webkit-grid-column: auto;
-webkit-grid-columns: none;
-webkit-grid-row: auto;
-webkit-grid-rows: none;
-webkit-highlight: none;
-webkit-hyphenate-character: auto;
-webkit-hyphenate-limit-after: auto;
-webkit-hyphenate-limit-before: auto;
-webkit-hyphenate-limit-lines: no-limit;
-webkit-hyphens: manual;
-webkit-justify-content: flex-start;
-webkit-line-align: none;
-webkit-line-box-contain: block inline replaced;
-webkit-line-break: normal;
-webkit-line-clamp: none;
-webkit-line-grid: none;
-webkit-line-snap: none;
-webkit-locale: en;
-webkit-margin-after-collapse: collapse;
-webkit-margin-before-collapse: collapse;
-webkit-marquee-direction: auto;
-webkit-marquee-increment: 6px;
-webkit-marquee-repetition: infinite;
-webkit-marquee-style: scroll;
-webkit-mask-attachment: scroll;
-webkit-mask-box-image: none;
-webkit-mask-box-image-outset: 0px;
-webkit-mask-box-image-repeat: stretch;
-webkit-mask-box-image-slice: 0 fill;
-webkit-mask-box-image-source: none;
-webkit-mask-box-image-width: auto;
-webkit-mask-clip: border-box;
-webkit-mask-composite: source-over;
-webkit-mask-image: none;
-webkit-mask-origin: border-box;
-webkit-mask-position: 0% 0%;
-webkit-mask-repeat: repeat;
-webkit-mask-size: auto;
-webkit-nbsp-mode: normal;
-webkit-order: 0;
-webkit-perspective: none;
-webkit-perspective-origin: 138px 358px;
-webkit-print-color-adjust: economy;
-webkit-region-break-after: auto;
-webkit-region-break-before: auto;
-webkit-region-break-inside: auto;
-webkit-region-overflow: auto;
-webkit-rtl-ordering: logical;
-webkit-shape-inside: auto;
-webkit-shape-outside: auto;
-webkit-svg-shadow: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0.4);
-webkit-text-combine: none;
-webkit-text-decorations-in-effect: none;
-webkit-text-emphasis-color: #333;
-webkit-text-emphasis-position: over;
-webkit-text-emphasis-style: none;
-webkit-text-fill-color: rgb(51, 51, 51);
-webkit-text-orientation: vertical-right;
-webkit-text-security: none;
-webkit-text-stroke-color: rgb(51, 51, 51);
-webkit-text-stroke-width: 0px;
-webkit-transform: none;
-webkit-transform-origin: 138px 358px;
-webkit-transform-style: flat;
-webkit-transition-delay: 0s;
-webkit-transition-duration: 0s;
-webkit-transition-property: all;
-webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
-webkit-user-drag: auto;
-webkit-user-modify: read-only;
-webkit-user-select: text;
-webkit-widget-region: ;
-webkit-wrap-flow: auto;
-webkit-wrap-margin: 0px;
-webkit-wrap-padding: 0px;
-webkit-wrap-through: wrap;
-webkit-writing-mode: horizontal-tb;
alignment-baseline: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: transparent;
background-image: url(http://www.immersify.co.uk/assets/images/bg-aside.png);
background-origin: padding-box;
background-position: 0px 0px;
background-repeat: repeat-y;
background-size: auto;
baseline-shift: baseline;
border-bottom-color: #333;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
border-bottom-style: none;
border-bottom-width: 0px;
border-collapse: separate;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: #333;
border-left-style: none;
border-left-width: 0px;
border-right-color: #333;
border-right-style: none;
border-right-width: 0px;
border-top-color: #333;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top-style: none;
border-top-width: 0px;
bottom: auto;
box-shadow: none;
box-sizing: content-box;
caption-side: top;
clear: none;
clip: auto;
clip-path: none;
clip-rule: nonzero;
color: #333;
color-interpolation: srgb;
color-interpolation-filters: linearrgb;
color-rendering: auto;
cursor: auto;
direction: ltr;
display: block;
dominant-baseline: auto;
empty-cells: show;
fill: black;
fill-opacity: 1;
fill-rule: nonzero;
filter: none;
float: right;
flood-color: rgb(0, 0, 0);
flood-opacity: 1;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
glyph-orientation-horizontal: 0deg;
glyph-orientation-vertical: auto;
height: 716px;
image-rendering: auto;
kerning: 0;
left: auto;
letter-spacing: normal;
lighting-color: rgb(255, 255, 255);
line-height: normal;
list-style-image: none;
list-style-position: outside;
list-style-type: disc;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
marker-end: none;
marker-mid: none;
marker-start: none;
mask: none;
max-height: none;
max-width: none;
min-height: 0px;
min-width: 0px;
opacity: 1;
orphans: 2;
outline-color: #333;
outline-style: none;
outline-width: 0px;
overflow-wrap: normal;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
page-break-after: auto;
page-break-before: auto;
page-break-inside: auto;
pointer-events: auto;
position: static;
resize: none;
right: auto;
shape-rendering: auto;
speak: normal;
stop-color: rgb(0, 0, 0);
stop-opacity: 1;
stroke: none;
stroke-dasharray: none;
stroke-dashoffset: 0;
stroke-linecap: butt;
stroke-linejoin: miter;
stroke-miterlimit: 4;
stroke-opacity: 1;
stroke-width: 1;
tab-size: 8;
table-layout: auto;
text-align: left;
text-anchor: start;
text-decoration: none;
text-indent: 0px;
text-overflow: clip;
text-rendering: auto;
text-shadow: none;
text-transform: none;
top: auto;
unicode-bidi: normal;
vector-effect: none;
vertical-align: baseline;
visibility: visible;
white-space: normal;
widows: 2;
width: 276px;
word-break: normal;
word-spacing: 0px;
word-wrap: normal;
writing-mode: lr-tb;
z-index: auto;
zoom: 1;

/* * Author:Ronan Sprake [ronan.sprake@soak.co.uk] * Agency:Soak Digital Ltd. * Project:Immerse Image Manager * Comment:Base stylesheet*/html, body, div, h1, h2,h3, p, ul, li, a, em, img, strong, fieldset, form,label, table, tr, th, td{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 36%;
	line-height: inherit;
	font-family: inherit;
	vertical-align: baseline;
	text-align: justify;
}table{border-collapse:collapse;border-spacing:0;}ol, ul{list-style:none;}em{font-style:normal;}/*--------------------------------------------------------------------------=Font sizing----------------------------------------------------------------------------*/body{font-size:0.75em;/* 16 x 0.75 = 12px */}h1{font-size:2.83em;/* 12 x 2.83 = 34px */}h3{font-size:2.25em;/* 12 x 2.25 = 27px */}h2,#call{font-size:1.92em;/* 12 x 1.92 = 23px */}.box h2{font-size:2.08em;/* 12 x 2.08 = 25px */}.box-a em{font-size:1.5em;/* 12 x 1.5 = 18px */}.summary,.price,.box ul,.box th,.box-a ul,.box-c p{font-size:1.17em;/* 12 x 1.17 = 14px */}#footer,.copy,input,.note,.box-a .notice,.notice{font-size:0.92em;/* 12 x 0.92 = 11px */}/*--------------------------------------------------------------------------=Generic HTML----------------------------------------------------------------------------*/#page-container{background:url(../images/bg-page-container.png) repeat-y 50% 0;min-width:919px;}#page{background:url(../images/bg-page.jpg) no-repeat 50% 90px;min-width:919px;}body{font-family:Arial, Helvetica, sans-serif;}h1,h2,h3{font-weight:normal;line-height:1em;margin-bottom:10px;}h1{letter-spacing:-0.03em;margin-bottom:16px;width:510px;}h2{margin-bottom:5px;}h3{letter-spacing:-0.03em;}p{line-height:1.35em;margin-bottom:15px;}a{color:#52C3DD;text-decoration:none;}a:hover{text-decoration:underline;}strong{
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}input{border:none transparent;font-family:Arial, Helvetica, sans-serif;}/*--------------------------------------------------------------------------=Content----------------------------------------------------------------------------*/#section{color:#333;margin:0 auto;padding-top:97px;position:relative;width:919px;}#article{float:left;margin-bottom:100px;padding:5px 68px 0 24px;width:551px;}#logo{left:21px;position:absolute;top:19px;}#gallery{margin-bottom:18px;padding:0 5px;position:relative;width:541px;}#actions li{position:absolute;top:140px;}#actions a{background:url(../images/bg-actions.png) no-repeat 0 0;display:block;height:35px;overflow:hidden;text-indent:-9999px;width:35px;}#actions .next a{background-position:-35px 0;}#actions .next{right:-23px;}#actions .prev{left:-23px;}#slides{height:328px;overflow:hidden;position:relative;width:541px;}#slides ul{left:0;position:absolute;width:10000px;}#slides li{display:none;float:left;height:328px;width:540px;}#slides li img{display:block;margin:0 auto;}#slides li.selected{display:block;}.box{background:#EDECEF url(../images/bg-box.png) no-repeat 0 0;margin:25px 0;position:relative;width:551px;}.box div{background:url(../images/bg-box.png) no-repeat -551px 100%;padding:17px 10px 21px 21px;}.box h2,.box-a h2{margin-bottom:10px;}.box ul{margin:0 70px 0 1px;}.box li{background:url(../images/bg-tick.png) no-repeat 0 3px;margin-bottom:8px;padding-left:25px;}.box img{position:absolute;left:481px;top:10px;}.box table{margin-bottom:14px;width:520px;}.box th,.box td{border-top:1px solid #FFF;padding:8px 0;}.box-a{background:#52C3DD url(../images/bg-box.png) no-repeat -1102px 0;margin:25px 0 30px;position:relative;width:551px;}.box-a div{background:url(../images/bg-box.png) no-repeat -1653px 100%;min-height:130px;padding:20px 10px 21px 21px;}.box-a form{position:relative;z-index:9999;}.box-a input{display:inline;vertical-align:middle;}#frm-steps-name,#frm-steps-phone{margin-right:7px;padding:4px 5px;width:120px;}.box-a h2{color:#FFF;}.box-a ul{margin-bottom:18px;}.box-a li{margin-bottom:6px;}.box-a .notice{margin-bottom:10px;width:250px;}.box-a .notice li{margin-bottom:0;}.box-a em{color:#FFF;line-height:1em;}.box-a img{position:absolute;left:389px;top:-36px;}.price em,.box th{color:#52C3DD;font-weight:bold;}.discuss{font-weight:bold;margin-bottom:5px;}.summary{margin-bottom:30px;width:520px;}/*--------------------------------------------------------------------------=Sub-content----------------------------------------------------------------------------*/#aside{
	background: url(../images/bg-aside.png) repeat-y 0 0;
	float: right;
	width: 350px;
}#frm-request{margin-bottom:12px;}#frm-request-name,#frm-request-surname,#frm-request-email,#frm-request-phone,#frm-request-company{margin-bottom:7px;padding:4px 5px;width:207px;}#frm-request-company{margin-bottom:12px;}.box-b{background:#52C3DD url(../images/bg-box.png) no-repeat -2204px 0;margin-bottom:30px;}.box-b div{background:url(../images/bg-box.png) no-repeat -2480px 100%;padding:20px 10px 21px 30px;}.box-b h3{
	color: #FFF;
	margin-left: 0;
	font-size: 36px;
	text-align: center;
	font-weight: bold;
}.box-b p{
	font-weight: bold;
	margin-bottom: 4px;
	width: 210px;
	font-size: 200%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}.box-b .note{font-weight:normal;line-height:1.1em;margin-bottom:14px;}.box-b #call{color:#FFF;font-weight:normal;letter-spacing:-0.03em;width:230px;}.box-b #call em{color:#333;}.box-c{border-bottom:2px solid #333;border-top:2px solid #333;padding:14px 0;}.box-c h3{margin:0 0 20px 30px;}.box-c p{margin-bottom:0;}.box-c img{margin-bottom:14px;}/*--------------------------------------------------------------------------=Footer----------------------------------------------------------------------------*/#footer{border-bottom:2px solid #333;border-top:2px solid #333;font-weight:bold;margin-bottom:9px;padding:10px 0;}#footer ul{float:right;}#footer li{display:inline;margin-left:25px;}#footer p{float:left;margin-bottom:0;}/*--------------------------------------------------------------------------=Miscellaneous----------------------------------------------------------------------------*/.bulleted{margin:18px 0 12px;}.bulleted li{background:url(../images/bg-li.png) no-repeat 0 5px;margin-bottom:7px;padding-left:14px;}.notice{background:#96DCEB !important;font-weight:normal !important;line-height:1.2em !important;margin-bottom:14px !important;padding:5px 10px 5px 10px !important;width:197px !important;}.success{color:#060;}.error{color:#D50000;}.error li{background:url(../images/bg-error.png) no-repeat 0 4px;padding-left:12px;}.w3c{left:-99999px !important;position:absolute !important;top:-99999px !important;}#section:after,#footer:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;overflow:hidden;visibility:hidden;}
